$white: #fff;
$black: #000;
$black_70: rgba(0, 0, 0, 0.71);
$slick_dots_active: #4A90E2;
$slick_dots_inactive: #E8E8E8;
$chart_positive: linear-gradient(-180deg, #FFCD00 0%, #FF9F00 100%);
$chart_negative: linear-gradient(-231deg, #3664CD 0%, #96DCE7 99%);
$explain_value: #4A4A4A;
$negative_value_gradient_from: #3664CD;
$negative_value_gradient_to: #96DCE7;
$positive_value_gradient_from: #FFCD00;
$positive_value_gradient_to: #FF9F00;

/*donut chart colors*/
$blue_lighter: rgba(165, 207, 255, 1);
$blue_dark: rgba(0, 110, 254, 1);
$blue_purple: rgba(73, 74, 255, 1);
$blue_lighter_to_dark: #00AEFF;
$blue_lighter_blue_dark: rgba(0, 118, 255, 1);

$href_color: #276EF1;
$href_hover_color: #2880e9;
$font_icon_default: #9B9B9B;

/*services*/
$service_break_line: #E8E8E8;
$F2: #F2F2F2;
$F4: #F4F4F4;
$_8B: #8B8B8B;
$_9B: #9B9B9B;
$F8: #F8F8F8;
$_97: #979797;
$_4A: #4A4A4A;
$_97_op03: rgba(151, 151, 151, 0.31);
$_89_op02: rgba(137, 137, 137, 0.21);
$border_blue: #276EF1;

$green_1b: #1B6418 !default;
$red_e5: #e50000 !default;
$blue_0b: #0b1892 !default;
$green_3f: #3F5959 !default;